html   {
        overflow: auto;
        font-family: sans-serif;
}

html,
body,
object {
        margin: 0px;
        padding: 0px;
        height: 100%;
        border: none;
}

div,
iframe,
object {
        display: block;
        width: 100%;
        border: none;
        overflow-y: auto;
        overflow-x: hidden;
}

iframe {
        height: 90%;
}

div {
    display: block;
}

a{
        color: #0000ff;
        text-decoration: none;
        cursor: cell;
}

a:visited{
        color: #0000ff;
}

a:hover{
        color: #ff0000;
        text-shadow: 1px 1px #ccc;
}
body {
  background: white;
}
.image-row{
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.image-row img{
  width: 30vw;
  max-width: 320px;
  height: auto;
  object-fit: cover;
}






